@import "../../../sass-utils/variables";
@import "../../../sass-utils/mixins";
@include google-font("Inter:100,200,300,regular,500,600,700,800,900");
.textInPin {
  font-weight: bold;
  font-size: 29px;
  display: flex;
  fill: rgba(0, 0, 255, 0.494);
}
.underPin {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 4rem;
  gap: 1rem;
  text-align: center;
}
.underPinCard {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 2rem;
  .textContainer {
    h6 {
      font-size: 15px;
      font-family: "Inter";
      font-weight: 400;
    }
    span {
      font-size: 19px;
      opacity: 0.5;
    }
  }
}

// .allCard {
//     display: flex;
//     align-items: flex-start;
//     border: 1px solid black;
//   }
