@import "../../../sass-utils/variables";
@import "../../../sass-utils/mixins";
@include google-font(
  "Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic"
);
@include google-font("Inter:100,200,300,regular,500,600,700,800,900");

.Hero_Container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  h2 {
    margin: 0px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .Button {
    @include flex();
    cursor: pointer;
    font-weight: 500;
    font-size: 0.875rem;
    font-family: "Inter";

    line-height: 1.75;
    min-width: 64px;
    color: rgb(255, 255, 255);
    background-color: rgb(99, 102, 241);
    border-radius: 12px;
    padding: 6px 20px;
    &:hover {
      text-decoration: none;
      background-color: rgb(67, 56, 202);
      box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 10px;
      transition: all 0.5s;
    }
  }
}
.uplod {
  width: 40px;
  scale: 1.9;
  height: 60px;
}
