.upload-file-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload-file-container .file-upload-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.upload-file-container .file-upload-label .upload-icon {
  font-size: 24px;
  margin-right: 8px;
}
.upload-file-container .file-upload-label .file-input {
  display: none;
}
.upload-file-container .file-upload-label .file-upload-text {
  font-weight: bold;
  cursor: pointer;
}
.upload-file-container .uploaded-image {
  max-width: 100%;
  margin-top: 16px;
}

.upload-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 16px;
  border-radius: 13px;
}

.upload-button:hover {
  opacity: 0.7;
  transition: 0.5s all;
}

/* Add more styles as needed *//*# sourceMappingURL=uploadFile.css.map */