.upload-file-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .file-upload-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    .upload-icon {
      font-size: 24px;
      margin-right: 8px;
    }

    .file-input {
      display: none;
    }

    .file-upload-text {
      font-weight: bold;
      cursor: pointer;
    }
  }

  .uploaded-image {
    max-width: 100%;
    margin-top: 16px;
  }
}

.upload-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 16px;
  border-radius: 13px;
}
.upload-button:hover {
  opacity: 0.7;
  transition: 0.5s all;
}

/* Add more styles as needed */
