@import "../sass-utils/variables";

.AppLayout {
  display: grid;
  grid-template-columns: calc(1fr / 5) 1fr;
  grid-template-rows: auto 1fr;
  height: 110vh;
  overflow: hidden;
  main {
    background-color: $white;
    padding: 4rem 4.8rem 6.4rem;
  }
}
