@import "../sass-utils/variables";
@import "../sass-utils/mixins";
@include google-font("Inter:100,200,300,regular,500,600,700,800,900");

.header {
  background-color: white;
  padding: 1.2rem 1.8rem;

  border-bottom: 1px solid rgba(128, 128, 128, 0.376);
  @include flex();
  .right__header-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    scale: 1.2;
    height: 30px;
    cursor: pointer;
    color: $iconhover;
    .search {
      padding: 0;
      margin-bottom: -8px;
    }
  }
  .left__header-section {
    @include flex(row, center, 0, 30px);
    .contact {
      margin-bottom: -5px;
    }
    .userImage {
      width: 40px;
      border: 2px solid $moregrey;
      padding: 2px;
      border-radius: 50%;
    }
    img {
      width: 40px;
    }
    .reacr-icon {
      color: $iconhover;
    }
    .notifcation {
      position: relative;
      width: 30px;
      height: 0px;
      top: -24px;
      .badge {
        position: absolute;
        right: 0;
        top: 0;
        background-color: red;
        color: $white;
        width: 20px;
        text-align: center;
        font-size: 14px;
        font-family: "Inter";

        height: 19.7px;
        border-radius: 50%;
      }
      .reacr-icon {
        position: relative;
        top: 10px;
      }
    }
  }
  .burger-menu,
  .reacr-icon {
    scale: 1.2;
    height: 30px;
    cursor: pointer;
    color: $iconhover;

    &:hover {
      transition: all 0.4s ease-in;

      background-color: #ccd3d748;
      border-radius: 50%;
      @include braduis(4px, 4px, 4px, 4px);
    }
  }
}
.tunisiFlag {
  width: 50px;
}
