@import "../sass-utils/variables";
@import "../sass-utils/mixins";

@include google-font(
  "DynaPuff:wght@400;500;600&family=Epilogue:wght@500;800&family=Fascinate+Inline&family=Martian+Mono:wght@200;300;400;500&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,800;1,100;1,200;1,400;1,500;1,700&family=Reem+Kufi+Fun:wght@400;500;600;700&family=Roboto+Mono:wght@100&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap'"
);
@include google-font("Inter:100,200,300,regular,500,600,700,800,900");
@include google-font(
  "Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic"
);
.sideBar {
  background-color: $dark;
  padding: 2rem 1rem;
  border-right: 1px solid $dark;
  grid-row: 1/-1;
  .NavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    width: 70%;
    svg {
      border: 1px solid rgb(65, 64, 64);
      padding: 3px;
      border-radius: 9px;
    }
    span {
      font-family: "Plus Jakarta Sans";
      font-weight: 600;
      color: $white;
      font-size: 17px;
    }
  }
  .lines {
    ul {
      margin-top: 2rem;
      @include flex(column, 0, 0, 1rem);
      list-style: none;
      padding: 0;

      li {
        a {
          @include flex(row, center, 0, 10px);
          text-decoration: none;
          opacity: 0.79;
          &:link,
          &:visited {
            display: flex;
            align-items: center;
            gap: 1.2rem;
            color: $linkvisted;
            font-weight: 400;
            padding: 1rem 1.4rem;
            transition: all 0.3s;
          }
          &:hover,
          &:active,
          &.active:link,
          &.active:visited {
            opacity: 1;

            color: $linkvisted;
            background-color: #ccd3d748;
            @include braduis(12px, 12px, 12px, 12px);
            .react-icon {
              color: $iconhover;
            }
          }
        }
        span {
          font-size: 16px;
          min-width: 110px;
          font-family: "Inter";
        }
      }
    }
  }
}
