// importation de sass-utils
@import "../sass-utils/mixins";
@import "../sass-utils/_functions";
@import "../sass-utils/helpers";
@import "../sass-utils/variables";
// popines font family :
@include google-font(
  "Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"
);

@import "../ui/AppLayout";

// start style

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins";
  @include font-size(20px);
}
