@import url("http://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
.AppLayout {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: auto 1fr;
  height: 110vh;
  overflow: hidden;
}
.AppLayout main {
  background-color: white;
  padding: 4rem 4.8rem 6.4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins";
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */