@import "../../../../sass-utils/variables";
@import "../../../../sass-utils/mixins";
@include google-font("Inter:100,200,300,regular,500,600,700,800,900");

.AllCardContainer {
  .lastCardSection {
    @include flex();
  }
  font-family: "Inter";
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  gap: 19px;
  width: 100%;
  padding: 10px;
  height: calc(100vh - 18rem);
  overflow-y: scroll;

  .Cart {
    width: 15vw;
    font-family: "Inter";
    border: 1px solid;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid $border_color_grey;

    display: flex;
    flex-direction: column;
    gap: 19px;
    font-weight: 300;
    &:hover {
      box-shadow: #00000059 0px 5px 15px;
      transition: all 1s;
    }
    .CartHeader {
      @include flex();
      .react-icon {
        cursor: pointer;
        width: 21px;
        height: 21px;
        border-radius: 50%;

        &:hover {
          background-color: rgba(128, 128, 128, 0.082);
          transition: all 0.3s;
        }
      }

      width: 100%;
      .Start {
        color: #f79009;
      }
    }
    .filleDetails {
      display: flex;
      flex-direction: column;
      img {
        width: 40px;
      }

      span {
        font-size: 18px;
        font-family: "Inter";
        font-weight: 400;
      }
    }
    .hr {
      opacity: 0.4;
      border-top: 0.1px solid $border_color_grey;
    }
    .aboutFile {
      @include flex(column, 0);
      opacity: 0.5;
    }
    .size,
    .numberOfFile,
    .DataCreat {
      font-size: 15px;
    }
  }
}
