@import "../../../../sass-utils/variables";
@import "../../../../sass-utils/mixins";

@include google-font("Inter:100,200,300,regular,500,600,700,800,900");
@include google-font(
  "Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic"
);

.leftWindow {
  overflow: scroll;
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  background-color: white;
  height: 110vh;
  padding: 1rem 1.3rem;
  box-shadow: 1px 1px 2px black;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .heroIcon {
    margin-top: 1rem;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    gap: 2rem;
    margin-bottom: -1rem;
  }
  .hr {
    border-top: 1px solid rgba(128, 128, 128, 0.298);
  }
  .folder_img {
    text-align: center;
    border: 2px dotted rgba(128, 128, 128, 0.691);
    padding: 1.6rem 1.5rem;
    border-radius: 13px;
    background-color: #f8f9fa;
  }
  .text_container {
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
    align-items: flex-start;
    .CreatedBy {
      display: flex;
      align-items: center;
      gap: 1rem;
      .Avater_img {
        width: 40px;
        border-radius: 50%;
      }
    }
    .Fille_name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      h6 {
        font-family: "Plus Jakarta Sans";
        font-weight: 500;
      }
    }
    .tags {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .Shared_with {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .Actions {
      display: flex;
      gap: 2rem;
    }
  }
}
.options {
  margin: 0px;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.66;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: rgb(108, 115, 127);
}
.spaceTAges {
  width: 16rem;
}
.cursorPointer {
  cursor: pointer;
}
