@import "../../../../sass-utils/variables";
@import "../../../../sass-utils/mixins";
@include google-font("Inter:100,200,300,regular,500,600,700,800,900");
.card {
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45vw;
  border: 2px solid;
  font-family: "Inter";
  padding: 10px;
  border-radius: 12px;
  border: 1px solid $border_color_grey;
  .fileDetails {
    display: flex;
    gap: 2rem;
    .Fille_name {
      display: flex;
      flex-direction: column;
    }
  }
  &:hover {
    box-shadow: #00000059 0px 5px 15px;
    transition: all 1s;
  }
  .creatAt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.underText {
  color: rgba(128, 128, 128, 0.548);
  font-size: 15px;
}
.text {
  font-size: 18px;
}
