@import url("http://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");
.card {
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45vw;
  border: 2px solid;
  font-family: "Inter";
  padding: 10px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.113);
}
.card .fileDetails {
  display: flex;
  gap: 2rem;
}
.card .fileDetails .Fille_name {
  display: flex;
  flex-direction: column;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.3490196078) 0px 5px 15px;
  transition: all 1s;
}
.card .creatAt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.underText {
  color: rgba(128, 128, 128, 0.548);
  font-size: 15px;
}

.text {
  font-size: 18px;
}/*# sourceMappingURL=HorizontalCard.css.map */