.FileManagerLayout {
  width: 100%;
  height: 100vh;

  .Hero {
    height: 10%;
  }

  main {
    padding: 0 !important;
    height: 90%;
    display: flex;
    gap: 20px;

    .FileContainer {
      width: 70%;
      border-radius: 20px;
      padding: 10px;
    }

    .FileDetails {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      padding: 19px;
      border-radius: 20px;
      width: 30%;
      height: 70vh;
      overflow: scroll;
    }
  }
}
