@import "../../../../sass-utils/variables";
@import "../../../../sass-utils/mixins";
.shearch_bar {
  border: 1px solid $border_color_grey;
  border-radius: 12px;
  @include flex(row, center, space-between, 16px);
  padding: 10px;

  box-shadow: rgba(100, 100, 111, 0.143) 0px 7px 29px 0px;
  .shearch_input {
    cursor: pointer;
    display: flex;
    border: 1px solid $border_color_grey;

    padding: 10px;
    border-radius: 8px;
    .shearchIcon {
      width: 45px;
    }
    @include flex();
    input {
      outline: 0;
      border: none;
      font-size: 18px;
      width: 27vw;
    }
    &:placeholder-shown {
      color: $moregrey;
    }
  }
  .buttonGroup {
    scale: 0.9;
  }
  .selectCommponenet {
    scale: 0.9;
    outline: 0;
  }
}
